<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/scripts.js"></script>
</head>

<body onload="LoadPage()">
  <hr>
  <h1>
    <%= title %>
  </h1>
  <form>
    <label>Branches</label>
    <select id="branches">
    </select>
    <button id="btnconnect" type="button" onclick="Connect()" style="display: inline;">Connect</button>
  </form>
  <hr>
  <br>
  <h2>Ticketing APIs</h2>
  <form>
    <label>Select Segments</label>
    <select id="segments">
    </select>

    <label>Select Services</label>
    <select id="services">
    </select>
  </form>
  <hr>
  <button type="button" onclick="IssueTicket()">IssueSingleTicket</button>
  <button type="button" onclick="IssueTicketMultiple(1000)">Issue1000Tickets</button>
  <hr>
  <h3 style="display: inline;">Iussed ticket number: </h3>
  <p id='ticketnumber' style="display: inline;">...</p>
  <hr>
  <hr>
  <br>
  <br>
  <div></div>
  <h2>Counter APIs</h2>
  <form>
    <label>Select Counter</label>
    <select id="counters">
    </select>
  </form>
  <hr>
  <button type="button" onclick="CGetCurrentState()" style="display: inline;">GetCurrentState</button>
  <button type="button" onclick="COpen()" style="display: inline;">Open</button>
  <button type="button" onclick="Next()" style="display: inline;">Next</button>
  <button type="button" onclick="nextMultiple(1000)" style="display: inline;">Next1000</button>
  <button type="button" onclick="CBreak()" style="display: inline;">Break</button>
  <p id="calls">...</p>
  <div></div>
  <h3 style="display: inline;">Counter state: </h3>
  <p id='counterState' style="display: inline;">...</p>
  <div></div>
  <h3 style="display: inline;">Served Ticket Number: </h3>
  <p id='servedticketnumber' style="display: inline;">...</p>
  <div></div>
  <h3 style="display: inline;">Current Ticket Number: </h3>
  <p id='ticketnumberCalled' style="display: inline;">...</p>
  <hr>
  <h2>Branch Statistics</h2>
  <button type="button" onclick="readBranchStatistics()" style="display: inline;">Refresh Statistics</button>
  <table id="statistics" style="width:100%">
  </table>
  <hr>
  <h3 style="display: inline;">Iussed/Called ticket number: </h3>
  <p id='ticketnumberAll' style="display: inline;">...</p>
  <hr>
  <hr>
  <br>
  <br>
  <div></div>
  <h3 style="display: inline;">Error: </h3>
  <p id='errorMessage' style="display: inline;">...</p>

</body>

</html>