<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>        
    <script src="/js/scripts.js"></script>
  </head>
  <body onload="LoadPage()">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button type="button" onclick="IssueTicket()">IssueSingleTicket</button>
    <button type="button" onclick="IssueTicketMultiple(1000)">Issue1000Tickets</button>
    <div></div>
    <button type="button"  onclick="COpen()" style="display: inline;">Open</button>
    <button type="button" onclick="Next()" style="display: inline;">Next</button>
    <button type="button" onclick="nextMultiple(1000)" style="display: inline;">Next1000</button>
    <button type="button" onclick="CBreak()" style="display: inline;">Break</button>
    <p id="calls">...</p>
    <h3 style="display: inline;">Iussed ticket number: </h3> 
    <p id='ticketnumber' style="display: inline;">...</p>
    <hr>
    <div></div>
    <h3 style="display: inline;">Counter state: </h3> 
    <p id='counterState' style="display: inline;">...</p>
    <div></div>
    <h3 style="display: inline;">Served Ticket Number: </h3> 
    <p id='servedticketnumber' style="display: inline;">...</p>
    <div></div>
    <h3 style="display: inline;">Current Ticket Number: </h3> 
    <p id='ticketnumberCalled' style="display: inline;">...</p>
    <hr>
    <hr>
    <div></div>
    <h3 style="display: inline;">Error: </h3> 
    <p id='errorMessage' style="display: inline;">...</p>
  </body>
</html>
